.h-menu>li{
    position: relative;
    float:left;
    font-size: 30px;
    
}
.h-menu ul{
    width: 100px; 
    list-style: none;
    background-color: rgb(145, 187, 207);
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 0 1px rgb(157, 157, 212);
    position: absolute;
    display: none;
}
.h-menu>li:hover>ul{
    display: block;
}
.h-menu ul>li>a{
    display: block;
    line-height: 30px;
    color: rgb(0, 59, 131);
    text-decoration: none;
 ;
    border-bottom: 1px dotted rgb(31, 2, 87);
}
.h-menu ul>li> a:hover{
    color: rgb(194, 158, 1);
    background-color: rgb(2, 117, 54);
}